[submodule "lib/primer3"]
	path = lib/primer3
	url = https://github.com/primer3-org/primer3
[submodule "lib/cdhit"]
	path = lib/cdhit
	url = https://github.com/weizhongli/cdhit.git
[submodule "lib/FastANI"]
	path = lib/FastANI
	url = https://github.com/ParBLiSS/FastANI.git
[submodule "lib/pyani"]
	path = lib/pyani
	url = https://github.com/widdowquinn/pyani.git
